* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: green;
}

header {
    background-color: green;
    color: black;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 25px;
    border-radius: 5px;
}
.main {
    background-color: black;
    color: green;
    margin: 80px;
    border-radius: 10px;
}
#logo2 {
    width: 60px;
    display: flex;
    margin: 50px;
    border-radius: 10px;

}

.list {

}
.home {
    display: flex;
}

ul a {
    color: black;
   text-decoration: none;
}

 ul a li {
     display: flex;
     margin: 25px;
    text-decoration: none;
}
.search {
    padding: 0 5px;
}
.input {
    background-color: black;
    color: green;
    height: 30px;
    width: 220px;
    border-radius: 8px;
}
.buttom {
    background-color: rgb(37, 33, 33);
    color: green;
    height: 28px;
    width: 60px;
    border-radius: 5px;
}
main_hacking {
   display: flex;

}
.image {
    border-radius: 5px;
    width: 100%;
    height: 500px;
    margin: 40px auto;
    border-color: green;
    border: 5px;
}
.skumar {
    width: 550px;
    height: 420px;
    border-radius: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid green;
}

.sanikumar {
    text-align: center;
    color: green;

}

.mssg {
    border-radius: 50px;
    text-align: center;
    padding: 300px;
    border-color: green;
    font-size: 30px;
    
}

.fill {
    font-size: 20px;
}
.fill input  {
    background-color: black;
    color: green;
    border-radius: 5px;
    height: 30px;
    width: 500px;
    font-size: 16px;
}

#address {
border-radius: 5px;
    height: 60px;
    background-color: black;
    color: green;
    font-size: 16px;
}
.form {
color: black;
    border: 10px solid green;
    border-radius: 20px;
    background-image: url(96.jpg);
    text-align: center;
    display: block;

}

#submitk {
    border-radius: 4px;
    width: 65px;
    height: 30px;
    background-color: green;
    border: 3px solid black;
}

.footer {
    text-align: center;
    background-color: green;
    color: black;
    height: 80px;
}

.copy {
    padding: 30px;
}
.follow {
    background-color: #006994;
    color: black;
   height: 80px;
   display: flex;
   align-items: center;
   padding: 0 40px;
   font-size: 25px;
}
.follow a img {
    width: 40px;
    height: 40px;
    padding: 15px;
}
#git {
    height: 30px;
    width: 45px;
}

@media screen and (max-width: 768px) {

    body {
        width: 100%;
    }
    
}